body{
    background-color: #e5dfdf;
}

button{
    color: #1E90FF;
    border :1px solid #39FF14
}

h1{
    color: #FF4500;
    font-size: 100px;
    font-style: Roboto;
}

h2{
    color: #D3D3D3;
    font-size: 50px;
    font-style: Orbitron;
}

.ptext{
    color: #FFFFFF;
}

.stext{
    color: #D3D3D3;
}